node_modules
npm-debug.log
.git
.gitignore
.env.local
.DS_Store
.next
.vercel
dist
build
coverage
.vscode
.idea
*.log
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env.example
README.md
.prettierrc
.eslintrc
yarn.lock
package-lock.json