# Environment variables
.env
.env.local
.env.development
.env.production
env/.env

# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Editor
.vscode/
.idea/go-worker/.env 
go-worker/*.exe 
go-worker/main.exe 
go-worker/cd 
